h1 {
   width: 100%;
   text-align: center;
   color: #44a;
   font-size: 40pt;
   font-family: sans-serif;
}

h2 {
   text-align: left;
   color: #44a;
   font-size: 20pt;
   font-family: sans-serif;
}